.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    align-items: center;
    background-color: var(--primary-color-200);

    &__chat {
        width: 85%;
        height: 90%;
        border-radius: 10px;
        overflow: hidden;

        display: flex;
        background-color: var(--primary-color-200);

        position: relative;

        @media screen and (min-width: 720px) and (max-width: 1080px) {
            grid-template-columns: 35% 65%;
        }
    }

    &__info {
        h3 {
            font-size: 18px;
            font-weight: 700;
        }

        p {
            font-size: 14px;
            color: lightgrey;
        }
    }

    &__sidebar {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: solid 2px black;

        background: var(--primary-color-700);
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        height: 3rem;
        padding: 2rem;

        background: var(--primary-color-900);

        & img {
            height: 30px;
        }

        & h3 {
            color: white;
            text-transform: uppercase;
        }
    }

    .search {
        display: flex;
        align-items: center;
        border-bottom: 1px solid gray;

        &__form {

            padding: 10px;

            & input {
                background: transparent;
                border: none;
                color: white;
                outline: none;
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        height: 70vh;
        padding-top: .5rem;

        cursor: pointer;
        overflow: auto;

        &::-webkit-scrollbar {
            width: .7rem;
            background-color: #ff000039;

            &-thumb {
                background-color: #07ff4539;
                width: 0.1rem;
                border-radius: 1rem;
            }
        }
    }

    &__avatar {
        display: flex;
        align-items: center;
        gap: .5rem;
        transition: all 0.2s ease-in-out;
        border-bottom: 1px solid #000;
        padding: 0.7rem;

        & img {
            height: 3rem;
        }

        & h3 {
            color: white;
        }

        &:hover {
            background-color: var(--primary-color-900);
        }
        
        &--selected {
            background-color: var(--primary-color-900);
        }
    }
}

.current-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--primary-color-900);
    min-height: 4rem;

    &__avatar {

        display: flex;
        padding: .5rem 0;

        img {
            height: 3rem;
        }
    }

    & h2 {
        color: white;
    }

}