.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: var(--primary-color-500);

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: white;
    border-radius: .5rem;
    max-width: 550px;
    width: calc(100% - 3rem);
    padding: 3rem 3rem;

    &__img {
        height: 5rem;

        & img {
            height: 100%;
        }
    }

    & h1 {
        color: #fbb03b;
    }

    &__input {
        padding: 1rem;
        border: 1px solid transparent;
        border-bottom: 1px solid #a7bcff;
        width: 100%;
        font-size: 1rem;

        &:focus {
            border: 0.1rem solid #997af0;
            outline: none;
        }
    }

    &__btn {
        border: 1x solid black;
        padding: 1rem 2rem;
        width: 100%;

        background-color: var(--secondary-color-700);
        border: 1px solid var(--secondary-color-700);
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 0.4rem;
        font-size: 1rem;
        text-transform: uppercase;
        margin-top: 1rem;

        &:hover {
            outline: none;
            background-color: var(--white-color);
            color: var(--secondary-color-700);
            border: 1px solid var(--secondary-color-700);
        }
    }
}

@media screen and (min-width: 720px) and (max-width: 1080px) {}