.chat-input-container {
    display: grid;
    align-items: center;
    grid-template-columns: 5% 95%;
    background-color: white;
    padding: 0 2rem;

    @media screen and (min-width: 720px) and (max-width: 1080px) {
        padding: 0 1rem;
        gap: 1rem;
    }

    .button-container {
        display: flex;
        align-items: center;
        color: white;
        gap: 1rem;

    }

    .input-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff34;

        height: 4rem;

        input {
            width: 90%;
            height: 60%;
            background-color: transparent;
            border: none;
            padding-left: 1rem;
            font-size: 1.2rem;

            &::selection {
                background-color: #9a86f3;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            padding: 0.3rem 2rem;
            display: flex;
            justify-content: end;
            background-color: transparent;
            border: none;

            @media screen and (min-width: 720px) and (max-width: 1080px) {
                padding: 0.3rem 1rem;

                svg {
                    font-size: 1rem;
                }
            }

            svg {
                font-size: 2rem;
                cursor: pointer;
                color: black;
            }
        }
    }
}

.emoji {
    display: flex;
    justify-content: center;
    position: relative;

    svg {
        font-size: 1.7rem;
        color: var(--primary-color-200);
        cursor: pointer;
    }

    .emoji-picker-react {
        position: absolute;
        top: -350px;
        left: 0;
        box-shadow: 0 5px 10px var(--primary-color-900);
        border-color: #9a86f3;

        .emoji-scroll-wrapper::-webkit-scrollbar {
            background-color: #080420;
            width: 5px;

            &-thumb {
                background-color: #9a86f3;
            }
        }

        .emoji-categories {
            button {
                filter: contrast(0);
            }
        }

        .emoji-search {
            background-color: transparent;
            border-color: var(--primary-color-200);
        }
    }
}