.current-chat {
    flex: 8;

    &__header {
        height: 4rem;

        background-color: var(--primary-color-500);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    &__user-details {
        display: flex;
        align-items: center;
        gap: 1rem;

        & img {
            height: 2.3rem;
        }

        h3 {
            color: white;
        }

        & svg {
            color: white;
            font-size: 1.3rem;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                transition: all 0.2s;
            }
        }
    }
}

.chat-messages {
    height: calc(100% - 8rem);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: .9rem;
    overflow: auto;
    background-color: var(--primary-color-100);

    &::-webkit-scrollbar {
        width: 0.2rem;

        &-thumb {
            background-color: #ffffff39;
            width: 0.1rem;
            border-radius: 1rem;
        }
    }

    .message {
        display: flex;
        align-items: center;

        .content {
            max-width: 60%;
            overflow-wrap: break-word;
            padding: 1rem;

            @media screen and (max-width: 1080px) {
                max-width: 85%;
            }
        }
    }

    .sended {
        justify-content: flex-end;

        .content {
            border-radius: .8rem 0 .8rem .8rem;
            background-color: #8da4f1;
        }
    }
    
    .recieved {
        justify-content: flex-start;
        
        .content {
            border-radius: 0 .8rem .8rem .8rem;
            background-color: white;
        }
    }
}