@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root {
  --primary-color-900: #2f2d52;
  --primary-color-700: #3e3c61;
  --primary-color-500: #5d5b8d;
  --primary-color-200: #a7bcff;
  --primary-color-100: #ddddf7;

  --secondary-color-700: #e63946;
  --secondary-color-500: #e0525e;
  
  --white-color: #fff;
  --white-black: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
